@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  border: none;
  font-family: "Outfit", sans-serif;
}

html {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scroll-behavior: smooth;
  background-color: #ffffff;
}

img {
  display: block;
  max-width: 100%;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
  list-style: none;
}

menu,
ol,
ul {
  padding-left: 0;
}

article ol,
article ul {
  list-style-position: inside;
}

a {
  text-underline-position: under;
  text-decoration-thickness: 8;
}
:focus:not(:focus-visible) {
  outline: none;
}

body {
    margin: 0;
    padding: 0;
    background-color: #0D192C;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    width: 327px;
    height: 554px;
    background-color: #15263F;
    border-radius: 15px;
}

#nft-img {
    width: 278px;
    height: 278px;
    margin-top: 24.5px;
    border-radius: 10px;
    margin-left: 24.5px;
}

.overlay {
    position: relative;
    display: inline-block;
}

.overlay > img {
    vertical-align: middle;
}

.overlay::before {
    content: "";
    position: absolute;
    left: 24.5px;
    top: 24.5px;
    width: 278px;
    height: 278px;
    border-radius: 10px;
    background: cyan;
    opacity: 0;
    transition: .5s ease;
    cursor: pointer;
}

.view {
    display: none;
    position: absolute;
    top: 50%;
    left: 139px;
    cursor: pointer;
    z-index: 1
}

.overlay:hover::before {
    opacity: 0.5;
}

.overlay:hover .view {
    display: inline;
}

h1 {
    color: #ffffff;
    font-size: 2.2rem;
    font-weight: 600;
    margin-left: 24.5px;
    margin-top: 28px;
}

h1:hover {
    color: #00FFF8;
    cursor: pointer;
}

.description {
    color: #8BACD9;
    font-size: 1.8rem;
    font-weight: 100;
    margin-right: 40px;
    line-height: 2.6rem;
    letter-spacing: .05rem;
    margin-left: 24.5px;
    margin-top: 3px;
}

.additional-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 24.5px;
    margin-right: 24.5px;
}

.currency-container {
    display: flex;
    align-items: center;
}

.currency {
    font-size: 1.5rem;
    font-weight: 600;
    color: #00FFF8;
    margin-left: 5px;
}

.time-container {
    display: flex;
    align-items: center;
}

.time-remaining {
    font-size: 1.5rem;
    font-weight: 300;
    color: #8BACD9;
    margin-left: 5px;
}

hr {
    background-color: #2E405A;
    height: 1px;
    width: 85%;
    margin-top: 15px;
    margin-bottom: 15px;
}

.creator-info {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 24.5px;
    color: #ffffff;
    font-size: 1.5rem;
    font-weight: 300;
}

.creator-info:hover {
        color: #00FFF8;
        cursor: pointer;
}

.creator-info img {
    width: 33px;
    height: 33px;
    border: 1px solid white;
    border-radius: 50%;
}

.highlight {
    color: #8BACD9;
    margin-left: 15px;
    margin-right: 3px;
}

.attribution {
    font-size: 11px;
    text-align: center;
    margin-top: 5px;
    color: #8BACD9;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media only screen and (min-width: 1440px) {

main {
    width: 350px;
    height: 590px;
}

#nft-img {
    width: 302px;
    height: 302px;
}

.description {
    margin-right: 25px;
}

.currency {
    font-size: 1.6rem;
}

.time-remaining {
    font-size: 1.6rem;
}

.creator-info {
    font-size: 1.6rem;
}

.overlay::before {
    width: 302px;
    height: 302px;
}

.view {
    left: 151px;
}

}